@charset "UTF-8";

/* *{border: 1px solid red;} */

.c_wrap{
	margin: 0 auto;
	width: 1200px;
}
.c_mainbox{display: flex;}
.c_left_box{
	width: 80%;
}

.c_selectbox{width: 20%;}
.c_info_image{width: 30%;}
.c_roomInfo{width: 50%;}
.c_typeSelectBtn{width: 20%;}
.c_booking_info{height: 300px;}
.c_booking_info, .c_date,.c_adult,.c_child{
	display: flex;
	justify-content: space-between;
}

/* .c_roomoption{
	display: none;
} */

.c_modal_box{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.c_calenderWrap{
	display: flex;
	width: 500px;
}
.day{
	display: inline-block;
	border: 1px solid #eeeeee;
	width: 14%;	/* 100/7 = 14.2~~~ */
	overflow: hidden;
	text-align: center;
}
.selectday{
	border: 1px solid red !important;
}
.c_lastdayBot, .c_startdayBot{
	display: flex;
	flex-wrap: wrap;
}