@charset "UTF-8";
	
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'Happiness-Sans-Regular';
    src:url("/hotel_booking/font/Happiness-Sans-Regular.woff");
}
/*------------------------------------------------------------*/

.c_wrap{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 1200px;
	border: 1px solid #F1E3C4;
}

.c_mainbox{display: flex; }
.c_dateseletbox{display: flex; height: 10%;}
.c_dateseletbox div{margin: 10px;}
.c_left_box{width: 80%;}

.c_selectbox{width: 20%; padding: 20px; border-left: 3px solid black;}
.c_info_imagebox{width: 45%; padding: 20px; border-right: 2px solid #F1E3C4;}
.c_roomInfo{
	width: 50%;
	margin: 20px;
	}
.c_roomInfo button{
	margin: 10px;
}
.c_typeSelectBtn{
	width: 20%;
	}
.c_booking_info{
	text-align: center;
	border: 1px solid black;
	font-family: Happiness-Sans-Bold;
}
.c_booking_info, .c_date{
	display: flex;
	justify-content: space-between;
}
.c_member{margin: 10px; border: 1px solid black; text-align: center;}
.c_roomoption{
	border: 1px solid black;
	margin: 0 auto;
	text-align: right;
}
.c_calimgbox{width: 25px; height: 25px;}
.c_calimg{width: 100%; height: 100%;}
.moonimg{width: 20px; height: 20px;}
.c_memberselectbtn button{
	width: 20px;
	vertical-align: middle;
}
.c_select_room{
	width: 300px; height: 50px;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
}
.c_modal_wrap{
	position: fixed;
	width: 100%; height: 100%;
	top: 0; left:0; 
	z-index: 1030;
	border: 1px solid red;
	display: none;
}
.c_calenderWrap{	
	border: 1px solid black;
	background-color: white;
	position: absolute;
	top : 100px; left: 500px;
	width: 800px;
	padding: 3%;
	border-radius: 5%;
}
.selectday{
	border: 1px solid red !important;
}
.c_lastdayBot, .c_startdayBot{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}
.c_day{
	display: inline-block;
	border: 1px solid #eeeeee;
	width: 13% !important;
	height: 30px;
	text-align: center;
	margin: 0;
}

.c_modal_box{display: flex; margin: 10px;}
.c_info_image{width: 100%; height: 100%; padding: 10px;}
.c_selectRoomName, .c_selectPrice{
	text-align: right;
	width: 100%;
	height: 100px;
	border-bottom: 2px solid black;
}

.c_datecheck{
	width: 30%;
	display: flex;
	margin-top: 10px;
	padding: 10px;
	justify-content: space-between;
}
.c_memberselectbtn button{
	border: 1px solid #eeeeee;
	background-color: #F1E3C4;
}

.bookingbtn{
	border-radius: 10%;
	margin-top: 10px;
	width: 100px;
	height: 70px;
	background-color: #F1E3C4;
	border: 1px solid #eeeeee;
	font-family: 'Happiness-Sans-Title';
	
}
.c_modal_box button{
	border-radius: 10%;
	width: 30px;
	height: 30px;
	background-color: #F1E3C4;
	border: 1px solid #eeeeee;
	margin: 10%;
}
.c_modal_btns button{
	border-radius: 10%;
	background-color: #F1E3C4;
	border: 1px solid #eeeeee;
}
.c_adult, .c_child{ 
	margin-top: 10px;
	padding: 10px;}

.c_modal_box2{
	margin-left: 30px;
	padding-left: 30px;
	border-left: 1px dotted #eeeeee;
}
.c_option{
	background-image: url("C:\Users\3sp26\git\hotel_booking\hotel_booking\public\img\booking\슈페리어.jpg");
}