@charset "UTF-8";
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0px;
	padding: 0px;
}

.ad_wrap{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: center;
	
}
.sidebar{
	font-family: 'Happiness-Sans-Title';
	width: 200px;
	height: 800px;
}
.contents{
	width: 1000px;
	height: 800px;
	background-color: #eeeeee;
	position: relative;
}
.side_menus{ padding-top: 20px;}
.side_menu {
	width: 200px;
	background-color: #eeeeee;
	padding: 10px 0px;
	margin: 25px 0px;
	font-size: 20px;
	border-bottom: 1px solid #b5b5b5;
	border-top: 1px solid #b5b5b5;
}
.side_title{
	margin: 20px 0px;
	background-color: #b5b5b5;
	width: 200px;
	padding: 10px 0px;
	font-size: 20px;
}

.booking{
	width: 900px;
	margin: 0 auto;
	position: relative;
	top : 50px;
	background-color: white;
}

.bo_head{
	background-color: #eeeeee;
	border: 1px solid black; 
}











