@charset "UTF-8";

/* 웹폰트 */
@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{ margin: 0 auto; padding: 0px;}
li{ list-style-type: none; }
a{ color: black; text-decoration: none; }
/*----------------------------------------------*/

.header{ background-color: #EEDCB7; }
.h_wrap{ width: 1200px; height: 90px; display: flex; position: relative; }
.btn{ display: flex; bottom: 0px; position: absolute; }
.btn button{ width: 100px; border: 0; background-color: transparent; display: flex; 
	padding: 20px 5px 0px 20px;
}
.logobox{ font-size: 25px; font-family: 'PuradakGentleGothicR'; text-align: center; margin-top: 20px; }
.menu{ position: absolute; right: 0px; margin-top: 15px; margin-right: 10px;}
.m_top{ font-size: 12px; text-align: right; }
.m_top li{ margin: 0px 10px; }
.m_bottom{ margin-top: 25px; }
.m_bottom li{ text-align: center; padding: 5px 20px 10px 20px; }
.m_bottom li:hover{ border-bottom: 3px solid black; }

.menu li{ display: inline-block; }
/*-----------------------------------*/
.banner{ text-align: center;}
/*----------------------------------*/
.content{
	width: 1200px; height: 1900px;
	border: 1px solid blue;
}
/*----------------------------------*/
.footer{
	width: 1200px; height: 340px;
	border: 1px solid orange;
}