@charset "EUC-KR";
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Happiness-Sans-Regular';
    src:url("/hotel_booking/font/Happiness-Sans-Regular.woff");
}

.Happiness-Sans-Title{
	font-family: 'Happiness-Sans-Title';
}
.Happiness-Sans-Bold{
	font-family: 'Happiness-Sans-Bold';
}
.Happiness-Sans-Regular{
	font-family: 'Happiness-Sans-Regular';
}




.Dotum{font-family: Dotum;}
.돋움{font-family: 돋움;}
.sans-serif{font-family: sans-serif;}
.Arial{font-family: Arial;}
.Helvetica{font-family: Helvetica;}

