@charset "EUC-KR";

/* 기본설정 */
*{margin: 0 auto; padding : 0;}
li{list-style: none;}
a{text-decoration: none; color: black}
.b_wrap{width: 1200px; height: 1000px;}
/*--------------------헤더--------------------*/
.b_header{
   height: 100px;
   border: 1px solid black;
}

/*--------------------본문--------------------*/
.b_content{
   width: 1200px; height: 800px;
   border: 1px solid black;   
}
.b_인삿말{
	text-align: center; height: 100px;
	margin : 20px;
}
.b_인삿말 h3{color: #865009;}
.b_member{
   width: 800px; height: 300px;
   
   text-align: center;
   	background-color: #F1EBD6;
}
.b_loginbox{
   border: 1px solid #865009;
   border-radius: 5px; 
   width: 50%; height: 50%; padding: 20px 10px;

}
.b_loginbox input{margin: 5px 5px;}
.b_ckeckbox{
   margin-left: 95px; text-align: left;
}
.b_ckeckbox span{ margin-left: 5px;}
.b_loginbtn{
   background-color: white; padding: 20px 10px;
   border: 1px solid gray; border-radius: 5px;  
}
.b_member h3{
   padding:10px; width: 40%;
   border-bottom: 2px solid #865009;   
   margin: 3% auto;   
}
.b_subbtn{
   background-color: #F1EBD6;
   color : #9F876B;
   font-size: 10px;
   border: none; border-radius: 3px;
}
/*--------------------푸터--------------------*/
.b_footer{
   width: 1200px; height: 100px;
   border: 1px solid black;
}