@charset "UTF-8";
.b_signup{
	padding-left: 20px;
}

.b_signdiv{
	border-bottom: 1px solid #865009;
	padding-bottom: 20px; 

}
.b_signdiv input{
	margin: 5px 2px;
}

.b_signup h5{
	color: #595959;
	border-bottom: 1px solid #A1886F;
	padding-bottom: 10px; margin-bottom:10px;
}
.b_idinput{margin-right: 25px;}
.b_btinput{margin-right: 20px;}
.b_pwinput{margin-right: 40px;}
.b_pwinput2{margin-right: 10px;}

.b_signupbtn{
	text-align: right;
}


.b_signupbtn button{
	background-color: white;
	border : 1px solid gray; border-radius : 3px;
	width: 80px; height: 50px;

}
