@charset "UTF-8";
.e_sub4{
	display: block;
}

.e_contents{
	width: 890px;	
}

.e_con_title{
	display: flex;
	padding: 0 10px;
	height: 54px;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}

.e_wide{margin: 0px; padding-right: 10px;}
.e_title_name{margin: 0px;}
.e_on_title img{
	padding-top: 5px;
	padding-right: 10px;
}

.e_title_name{
	font-size: 20px;
	padding-left: 10px;
	height :54px;
	line-height: 54px;
	border-left: 1px solid #ccc;
}

/*------------------------------------------*/

.e_statsgrh{
	width: 100%;
	height: 100%;
	display: flex;
	padding-left: 10px;
}
.e_grhbox{
	border: 1px solid black;
	display: flex;
	height : 525px;
	flex-wrap :wrap;
	align-content : flex-end;
	justify-content: flex-end;
	width: 250px;
	margin-top: 30px;
}

.e_typebox{
	display: flex;
	justify-content: space-evenly;
}
.e_full{
	height: 500px;
	width: 20px;
	background-color: #eeeeee;
	display: flex;
	align-items: flex-end;
}
.e_grh{
	width: 100%;
}
.e_typename{font-size: 10px;}


.e_day0,.e_day1,.e_day2{
	text-align: center;
	font-family: 'Happiness-Sans-Title';
	height: 50px;
}
.e_colbox{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.e_citem{
	width: 500px;
	display: flex;
	justify-content: center;
}
.e_citem span{margin: 2px !important;}
.e_color{
	display : inline-block;;
	height: 20px;
	width: 20px;
	background-color: #eeeeee;
}

.e_col1,.e_typehe1{background-color: rgb(255, 151, 151);}

.e_col2,.e_typehe2{background-color: rgb(255, 210, 128);}

.e_col3,.e_typehe3{background-color: rgb(255, 255, 142);}

.e_col4,.e_typehe4{background-color: rgb(164, 255, 164);}

.e_col5,.e_typehe1{background-color: rgb(172, 172, 255);}











