@charset "UTF-8";
@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Happiness-Sans-Regular';
    src:url("/hotel_booking/font/Happiness-Sans-Regular.woff");
}
/* 공통----------------------------------------------------------------------- */
*{
	font-family: 'Happiness-Sans-Bold';
	font-size : 15px;
	margin: 0px;
	padding: 0px;
}
a{ text-decoration: none; color: black; }
li{list-style: none;}

/* ------------------------------------------------------------------------ */
html,body{height: 100%;}
.e_ad_wrap{
	width: 1200px;
	height : 800px;;
	min-height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
/* 사이드바1----------------------------------------------------------------------- */
.e_navbox1{
	width: 80px;
	height :100%;
	background-color: #D3C09A;
	padding-top:20px; 
}
.e_nav1_item img{
	height: 50px;
}

.e_nav1_item{
	display: inline-block;
	width : 100%; 
    height: 65px;
    text-align: center;
    line-height: 65px;
}
.e_nav1_title{
	display : inline-block;;
	width : 100%;
	text-align: center;
	margin-bottom: 10px; 
	color: #A2A1A1;
}
/* 사이드바2--------------------------------------------------------------------------------- */
.e_navbox2{
	width: 230px;
	height : 100%;
	background-color: #f1e3c4;;
}
.e_nav_home{display: none;}
.e_left_menu{
	width: 230px;
}
.e_nav2_title{
	font-family: 'Happiness-Sans-Title';
	text-align: center !important;
    height: 54px;
    line-height: 54px;
    background: #e9dab8 ;
   	font-size: 20px;
}

.e_menu_title{
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	padding: 0px 10px;
	display: flex;
	justify-content: space-between;
	background-color: #f1e3c4;
	
}
.e_menu_title img{
	width: 20px;
	vertical-align: middle;
	padding: 0px 5px 3px 3px;
}
.e_menu span img{
	width: 13px;
	height: 10px;
}
.e_sub_menus{
	padding: 5px 0px;
	background: #e9dab8;
	display: none;
}
.e_sub_menu{
	padding-left: 21px;
	
}
.e_sub_menu a{
	display: block;
    height: 30px;
    line-height: 30px;
    font-weight: lighter;
}
.e_sub_menu a img{
	padding: 0px 6px;
}

/* --------------------------------------------------------------------------------- */








