@charset "UTF-8";
/* 홈섹션의 내용 */
.e_navbox2{display: none;}
.e_contents{
	width: auto;
	padding: 20px;
	background-color: white;
}

.e_con_section1{
	height: 330px;
	padding-bottom : 24px;
	width: 1080px;
	display: flex;
	justify-content: space-between;
}

.e_con_head{
	height: 40px;
	width: 100%;
	background-color: #D3C09A;
	line-height: 40px;
}

.e_con_head h1{
	padding-left:10px;
	color: white;
}


/* ----------------------------------------- */
.e_con_con1{
	height: 290px;
	width: 100%;
	background-color: #f1e3c4;
	display: flex;
	flex-direction : column;
	justify-content: space-around;
}

.e_con_subleft{
	width: 49%;
	height : 100%;
}

.e_roomcnt{
	border: 1px solid black;
	border-collapse: collapse;
	width: 94%;
	margin: 0 3%;
	text-align: center;
}

.e_roomShare{
	text-align: center;
}

.e_date{font-size: 12px;font-family: 'Happiness-Sans-Title';}

.e_share{font-size: 17px; margin-left: 10px;font-family: 'Happiness-Sans-Title';}
.e_percent{color: red;font-size: 17px;margin-left: 10px;font-family: 'Happiness-Sans-Title';}

.e_roomcnt th, .e_roomcnt td{
	border: 1px solid black;
	padding: 5px;
}
.e_roomcnt td{background-color: white;}
.e_roomcnt th{
	background-color: #D3C09A;
	font-size: 12px;
}
/* --------------------------------- */
.e_con_con2{
	height: 290px;
	width: 100%;
	background-color: #f1e3c4;
	overflow: hidden;
}

.e_con_subright{
	width: 49%;
	height : 100%; 
	margin-left: 2%;
}

.e_b_situ{
	padding-top : 10px;
	width: 94%;
	margin: 0 3%;
	text-align: center;
}
.e_b_situ td{
	padding: 5px;
}

/* ------------------------------ */
.e_con_section2{
	height: 450px;
	width: 1080px;
}
.e_con_con3{
	height: 400px;
	width: 100%;
	background-color: #f1e3c4;
	padding: 20px 0;
}

.e_bar_grh{
	height: 280px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding-bottom: 20px;
}
.e_grhcol{
	width: 100%;
	background-color: #D3C09A;
	text-align: center;
}
.e_roongrh{
	background-color : #eeeeee;
	width: 14%;
	margin: 0 3%;
	height: 80%;
	display: flex;
	align-items: flex-end;
}
.e_bar_cnt{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}


.e_typecnt{
	margin-top : 20px;
	border: 1px solid black;
	border-collapse: collapse;
}

.e_typecnt th, .e_typecnt td{
	border: 1px solid black;
	padding: 5px 10px;
	text-align: center;
}
.e_typecnt th{
	background-color: white;
}
.e_typecnt th{
	background-color: #D3C09A;
}