@charset "UTF-8";
.e_sub1{
	display: block;
}

.e_contents{
	width: 890px;	
}

.e_con_title{
	display: flex;
	padding: 0 10px;
	height: 54px;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}

.e_wide{margin: 0px; padding-right: 10px;}
.e_title_name{margin: 0px;}
.e_on_title img{
	padding-top: 5px;
	padding-right: 10px;
}

.e_title_name{
	font-size: 20px;
	padding-left: 10px;
	height :54px;
	line-height: 54px;
	border-left: 1px solid #ccc;
}

.e_list_status{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 37.5px;
}

.e_list_item{
	width: 143px;
    height: 161px;
    border: 1px solid #ccc;
    margin: 9px;
    border-radius: 4px;
}

.e_item_title{
	height: 30px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    background-color: #f1e3c4;
}

.e_item_title li{
	width: 71px;
    line-height: 30px;
    text-align: center;
}

.e_t_ho{
	border-right: 1px solid #ccc;
}

.e_t_type{
	overflow: hidden !important;
}

.e_item_con{
	height: 115px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.e_item_con img{
	margin-top: 10px;
}

.e_reve{color:  #629ae4;}
.e_cus_in{color: #e7aa05;}
.e_empty{color: #46589a;}

.e_reve_date{font-size: 13px;}


/*===================================================*/
.e_ad_wrap{position: relative;}
.e_real_modal{
	border : 1px solid black;
	position: absolute;
	left: 320px;
	top: 10%;
	background-color: white;
	width: 890px;
	height: 200px;
	display: none;
}

.e_modal_table{
	
	border-collapse : collapse;
	width: 100%;
	height: 200px;
}

.e_modal_table thead th{
	border-bottom: 1px solid black;
	background-color: #D3C09A;
	text-align: left;
	padding: 10px 30px;
}
#e_close{text-align: right !important;}

.e_modal_table tbody th{
	padding: 5px 0;
	padding-bottom : 10px;
	text-align: right;
	padding-right: 10px;
}

.e_modal_table tbody td{
	padding: 5px 0;
	padding-bottom : 10px;
	text-align: left;
	
}

.e_modal_table tbody td input{
	height: 22px;
}

#e_roomtype{
	text-align: left !important;
	padding: 5px 25px;
}

.e_b_ch{
	text-align: right !important;
}

.e_ch_but{
	padding: 5px 10px;;
	margin-right: 40px;
}
