@charset "UTF-8";
/* --------공통 구역------- */
*{
 border: 1px solid red;
 list-style-type: none;
}
/* --------공통 구역------- */

/* --------헤더 구역------- */
.D_header{width: 1200px; height: 150px; text-align: center;}

/* --------헤더 구역------- */

/* --------본문 구역------- */
.D_content{ width:1200px; height:800px; display: flex; justify-content: center;}

.D_sidebar{ background-color: #F1E3C4; padding: 10% 3%;}

.D_sidebar h3{
	text-align: left;
	color: #432C10;
	border-bottom: 5px solid black;
	padding-left: 8%;
	margin: 5%;
	}
.D_sidebar_menu{
	padding: 0;
}
.D_sidebar li{
	padding: 3%;
	align-items: flex-start;
}



.D_standardRoom{
	margin:5%;
	padding: 0; text-align: center;
	border-bottom: 1px dotted #432C10;
	}
	
.D_standardName{
	align-items:flex-start; 
	padding: 0;
	margin: 0% 5%;
}

