@charset "UTF-8";
/* --------공통 구역------- */
*{
 margin: 0 auto ;
 padding : 0px;
/*  border: 1px solid red; */
 list-style-type: none;
 @font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
   font-family: 'Happiness-Sans-Regular';
    src:url("/hotel_booking/font/Happiness-Sans-Regular.woff");
}
}
/* --------공통 구역------- */

/* --------헤더 구역------- */
.D_header{width: 100%; height: 150px; text-align: center; }

/* --------헤더 구역------- */

/* --------본문 구역------- */
.D_content{ width:1200px; display: flex !important; justify-content: center; padding: 55px 0 0 0; }

.D_sidebar{
	background-color: #F1E3C4;
	padding: 2% 2%;
	width: 240px;
	height:692px;
	margin-right: 40px;
	}

.D_sidebar h2{
	text-align: left;
	color: #432C10;
	border-bottom: 5px solid #432C10;
	padding: 4% 0% 7% 1%;
	margin: 0px;
	font-weight:normal;
	}
.D_sidebar_menu{
	padding: 0;
	
}
.D_sidebar_menu h4{
	padding: 7% 0% 5% 2%;
	font-size: 15px;
	color : #633E10 ! important;
	font-weight: bolder;
}


.D_sidebar_menu li{
	font-family: 'Happiness-Sans-Regular';
	font-weight : bold;
	padding: 6% 0% 0% 1% ;
	align-items: flex-start;
	line-height: 100%; color: #967448;
	opacity: 0.95;
}
.D_sidebar_last{
	color : #633E10 ! important;
}
.D_sidebar_menu li a{
	text-decoration: none;
	color: #967448;
}
.D_sidebar_menu li a:hover{
	background-color: #D3C09A; 
}
.D_sidebar_menulast{
	padding: 7% 0% 5% 2%;
	font-size: 15px;
	color : #633E10;
	font-weight: bolder;
}

.D_Roomclass{
	padding: 10px 0px 3px 3px;
	text-align: center;
	}
	
.D_Roomclass_Name{
	border-top: 2px dotted rgba(67, 44, 16, 0.2);
	align-items:flex-start; 
	padding: 0;
	margin: 0% 2%;
	font-size: 12px;
}
.D_btn1{
	border: 1px solid #F1E3C4;
	margin: 64px 0px 0px 0px;
	width: 216px; height: 46px;
	background-color: #81725F;
	color: #FFFFFF;
	font-family: 'Happiness-Sans-Title';
	font-weight: bold;
}


.D_main_content{
	width: 100%;
	margin: 0px 5px ;
}
.D_hotel_guide h2{
	font-family: 'Happiness-Sans-Title';
	font-size : 27px;
	padding: 1%;
	color: #432C10;
}
.D_hotel_guide p{
	font-family: 'Happiness-Sans-Regular';
	padding: 1%;
	color: #444444;
	font-size: 13px;
}

.D_Rooms_name{
	padding: 1%; margin: 8% 0% 4% 0%;
	font-size: 21px;
}
.D_RCname{
	color: #856F56;
}
.D_Room_wrap{
	display: flex;
	flex-wrap: wrap;
}

.D_intoduce_room{
	width: 390px;
	padding-top:1%;
}
.D_Roomimg{
	width: 100%;
}

.D_explain{
	display: flex;
	width: 100%;
	margin: 22px 0px 30px 0px;
}
.D_event_btn{
	width: 100%;
	text-align: right;
}

.event{
	vertical-align:top;
	padding: 5px 10px 5px 10px;
	font-size: 12px;
	text-decoration: none;
	font-family: 'Happiness-Sans-Regular';
	}
.book{
	background-color:#3A3125; 
}
.odd{
	margin: initial;
}






.D_footer{ width: 100%; height: 150px; text-align: center; margin: 0 auto;}











